In [9]:
import tweepy
import json
import pandas as pd
from tqdm import tqdm
import random
pd.set_option('max_colwidth', 400)

#Ben's twitter dev token
bearer = 'AAAAAAAAAAAAAAAAAAAAAKJFPAEAAAAAGRLSLXy4%2FCqOzY9oV8E5mr6qMWM%3DWDd3MjAqfjwXiYCyN4ao8rch5ErocSO5gVGBFKCBjOE8YVFoUp'

#connect to twitter API
auth = tweepy.OAuth2BearerHandler(bearer)
api = tweepy.API(auth)

In [2]:
##ideas

#https://www.tidytextmining.com/twitter.html

In [43]:
#read in congressmembers' twitter accounts

house = pd.read_excel('../data/congress_twitter_022822.xlsx', sheet_name = 1, header = 1)
senate = pd.read_excel('../data/congress_twitter_022822.xlsx', sheet_name = 0, header = 1)

senate['User_Name'] = [str(i).split('/')[-1] for i in senate.Link]
house['User_Name'] = [str(i).split('/')[-1] for i in house.Link]

In [50]:
house.columns

Index(['Name ', 'Link', 'State', 'Party', 'User_Name'], dtype='object')

In [25]:
senate.head()

,Name,Link,State,Party,User_Name
0,"Baldwin, Tammy",https://twitter.com/SenatorBaldwin,WI,D,SenatorBaldwin
1,"Barrasso, John",https://twitter.com/SenJohnBarrasso,WY,R,SenJohnBarrasso
2,"Bennet, Michael F.",https://twitter.com/SenatorBennet,CO,D,SenatorBennet
3,"Blackburn, Marsha",https://twitter.com/MarshaBlackburn,TN,R,MarshaBlackburn
4,"Blumenthal, Richard",https://twitter.com/SenBlumenthal,CT,D,SenBlumenthal

In [26]:
house.head()

              Name                                  Link State Party
0       Adams, Alma         https://twitter.com/RepAdams    NC     D
1  Aderholt, Robert  https://twitter.com/Robert_Aderholt    AL     R
2     Aguilar, Pete   https://twitter.com/RepPeteAguilar    CA     D
3       Allen, Rick     https://twitter.com/RepRickAllen    GA     R
4     Allred, Colin   https://twitter.com/RepColinAllred    TX     D

In [29]:
users_senate = [(str(i).split('/')[-1]) for i in senate.Link]
users_house = [(str(i).split('/')[-1]) for i in house.Link]

In [30]:
len(users_senate)

100

In [31]:
len(users_house)

440

In [32]:
senators = []

for name in tqdm(users_senate):
    
    try:
        rep = api.user_timeline(screen_name = name, count = 200, include_rts = False, exclude_replies = True)
        json_data = [r._json for r in rep]
        df = pd.json_normalize(json_data)
        senators.append(df)
        
    except:
        pass
    
senators = pd.concat(senators)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:56<00:00,  1.77it/s]

In [38]:
house_members = []
users = [i.split('/')[-1] for i in senate.Link]

for name in tqdm(users_house):
    
    try:
        rep = api.user_timeline(screen_name = name, count = 200, include_rts = False, exclude_replies = True)
        json_data = [r._json for r in rep]
        df = pd.json_normalize(json_data)
        house_members.append(df)
        
    except:
        pass
    
house_members = pd.concat(house_members)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 440/440 [04:00<00:00,  1.83it/s]

In [42]:
house

                  Name                                  Link State Party
0           Adams, Alma         https://twitter.com/RepAdams    NC     D
1      Aderholt, Robert  https://twitter.com/Robert_Aderholt    AL     R
2         Aguilar, Pete   https://twitter.com/RepPeteAguilar    CA     D
3           Allen, Rick     https://twitter.com/RepRickAllen    GA     R
4         Allred, Colin   https://twitter.com/RepColinAllred    TX     D
..                  ...                                  ...   ...   ...
435  Wittman, Robert J.       https://twitter.com/RobWittman    VA     R
436       Womack, Steve  https://twitter.com/rep_stevewomack    AR     R
437    Yarmuth, John A.   https://twitter.com/RepJohnYarmuth    KY     D
438          Young, Don      https://twitter.com/repdonyoung    AK     R
439         Zeldin, Lee     https://twitter.com/RepLeeZeldin    NY     R

[440 rows x 4 columns]

In [44]:
senators_df = senators.merge(senate, left_on = 'user.screen_name', right_on = 'User_Name')
senators_df['Senate'] = 1

house_df = house_members.merge(house, left_on = 'user.screen_name', right_on = 'User_Name')
house_df['Senate'] = 0

In [47]:
senators_df.shape

(14507, 178)

In [48]:
house_df.shape

(59702, 181)

In [49]:
house_df.append(senators_df)

,created_at,id,id_str,text,truncated,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,withheld_in_countries,quoted_status.scopes.followers,Name,Link,State,Party,User_Name,Senate,State,Party
0,Fri Apr 15 14:37:38 +0000 2022,1514976244164669443,1514976244164669443,"This week, across North Carolina, families will celebrate Passover. \n \nThis #Passover, I am inspired by the liberatâ€¦ https://t.co/47wgS5XYmA",True,"<a href=""https://about.twitter.com/products/tweetdeck"" rel=""nofollow"">TweetDeck</a>",None,None,None,None,...,NaN,NaN,"Adams, Alma",https://twitter.com/RepAdams,NC,D,RepAdams,0,NaN,NaN
1,Thu Apr 14 18:40:50 +0000 2022,1514675062443552770,1514675062443552770,"Hey Charlotte, look who I found! https://t.co/PfPHGzIQ57",False,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",None,None,None,None,...,NaN,NaN,"Adams, Alma",https://twitter.com/RepAdams,NC,D,RepAdams,0,NaN,NaN
2,Thu Apr 14 18:21:16 +0000 2022,1514670136325726211,1514670136325726211,We must pass the #Momnibus. Our Mamas can't wait.\n https://t.co/aAXKCZxvur,False,"<a href=""https://mobile.twitter.com"" rel=""nofollow"">Twitter Web App</a>",None,None,None,None,...,NaN,NaN,"Adams, Alma",https://twitter.com/RepAdams,NC,D,RepAdams,0,NaN,NaN
3,Wed Apr 13 21:12:57 +0000 2022,1514350953402617864,1514350953402617864,"Along with my Congressional colleagues, I have been sanctioned by the Russian Federation and Vladimir Putin.\n\nIt isâ€¦ https://t.co/ADh88smm7I",True,"<a href=""https://about.twitter.com/products/tweetdeck"" rel=""nofollow"">TweetDeck</a>",None,None,None,None,...,NaN,NaN,"Adams, Alma",https://twitter.com/RepAdams,NC,D,RepAdams,0,NaN,NaN
4,Wed Apr 13 17:32:22 +0000 2022,1514295443869638662,1514295443869638662,Busy day today. Honored to be invited to speak at the opening of the Charlotte Advanced Technology Collaboration Huâ€¦ https://t.co/emKWqTRCkM,True,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",None,None,None,None,...,NaN,NaN,"Adams, Alma",https://twitter.com/RepAdams,NC,D,RepAdams,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14502,Mon Feb 28 17:06:18 +0000 2022,1498343815312285699,1498343815312285699,The Senate Avenue YMCA in #Indianapolis served as a center of community life for African Americans. Many prominentâ€¦ https://t.co/CFZyVpK6So,True,"<a href=""https://mobile.twitter.com"" rel=""nofollow"">Twitter Web App</a>",None,None,None,None,...,NaN,NaN,"Young, Todd",https://twitter.com/SenToddYoung,NaN,NaN,SenToddYoung,1,IN,R
14503,Sun Feb 27 14:00:13 +0000 2022,1497934600542298113,1497934600542298113,Removing certain banks from SWIFT is an important step but still leaves the door open to a workaround with other Ruâ€¦ https://t.co/txHo93RNtY,True,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",None,None,None,None,...,NaN,NaN,"Young, Todd",https://twitter.com/SenToddYoung,NaN,NaN,SenToddYoung,1,IN,R
14504,Sat Feb 26 20:02:49 +0000 2022,1497663464755634178,1497663464755634178,"It is vital that we close the digital divide and deploy broadband to unserved Hoosiers. At the same time, we must eâ€¦ https://t.co/C2oA73YszW",True,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",None,None,None,None,...,NaN,NaN,"Young, Todd",https://twitter.com/SenToddYoung,NaN,NaN,SenToddYoung,1,IN,R
14505,Sat Feb 26 16:49:48 +0000 2022,1497614887631130631,1497614887631130631,This is a positive step. We must deliver lethal aid immediately. https://t.co/5Ur6vvjdjx,False,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",None,None,None,None,...,NaN,NaN,"Young, Todd",https://twitter.com/SenToddYoung,NaN,NaN,SenToddYoung,1,IN,R
14506,Sat Feb 26 14:37:48 +0000 2022,1497581670848946177,1497581670848946177,"While in Columbus earlier this week, I enjoyed a quick visit to Zaharakos for some ice cream. You canâ€™t go wrong wiâ€¦ https://t.co/IopC7r3Bz6",True,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",None,None,None,None,...,NaN,NaN,"Young, Todd",https://twitter.com/SenToddYoung,NaN,NaN,SenToddYoung,1,IN,R

In [34]:
senators_df = senators_df[['Name ', 'User_Name', 'text', 'Party ', 'retweet_count']]
senators_df.sample(5)

,Name,User_Name,text,Party,retweet_count
5416,"Hickenlooper, John W.",SenatorHick,"Thereâ€™s so much I could say about libraries and the people who make them run, but I wonâ€™t overdue it! ðŸ“š\n\nThankful tâ€¦ https://t.co/PvFamk5qEv",D,13
6653,"Kelly, Mark",SenMarkKelly,"It's been exactly 12 years since health care reform was signed into law, expanding health care access and protectinâ€¦ https://t.co/3lZnJyDVfl",D,42
14342,"Wyden, Ron",RonWyden,Russia must face aggressive sanctions from both the United States and our allies in response to its blatant violatiâ€¦ https://t.co/eouSPqPRvq,D,59
7104,"King, Angus S. Jr.",SenAngusKing,"Congratulations to Chuck Sams, who was sworn in as the newest Director of the National Park Service today. As Chairâ€¦ https://t.co/zZkRN4jPnb",I,7
14023,"Whitehouse, Sheldon",SenWhitehouse,Thank you @POTUS and congratulations to @SenBooker for his leadership and determination in seeing this long-overdueâ€¦ https://t.co/v6CRZEptWf,D,149

In [35]:
senators_df.shape

(14507, 5)

In [36]:
senators_df[senators_df.text.str.contains('Ukraine', case = False)]

,Name,User_Name,text,Party,retweet_count
169,"Barrasso, John",SenJohnBarrasso,Ukraine can win. We just need to give them the tools they need to finish the job. Vladimir Putin underestimated theâ€¦ https://t.co/oW3XyZJo5M,R,2
180,"Barrasso, John",SenJohnBarrasso,".@POTUS needs to tell NATO we collectively will supply Ukraine weapons they know how to use. Two, he needs to go frâ€¦ https://t.co/sGSxyMfl52",R,24
181,"Barrasso, John",SenJohnBarrasso,There's a bipartisan group in Washington committed to helping the heroic people of Ukraine. We are trying to get thâ€¦ https://t.co/mWlRi1TY2G,R,4
196,"Barrasso, John",SenJohnBarrasso,We are reliving the nightmare of the Obama-Biden admin. Russia is invading Ukraine. We have the highest gas pricesâ€¦ https://t.co/vlnPglFP1N,R,70
219,"Barrasso, John",SenJohnBarrasso,I strongly condemn the ruthless and unprovoked attacks by Russia against the people of Ukraine. The United States aâ€¦ https://t.co/FrX6BGNm90,R,26
...,...,...,...,...,...
14470,"Young, Todd",SenToddYoung,Xi Jinping is closely watching how the United States supports Ukraine against Putinâ€™s aggression as China plots itsâ€¦ https://t.co/i3oLCvAXvW,R,54
14474,"Young, Todd",SenToddYoung,My friend @WFPChief is doing incredible work responding to the crisis in Ukraine. We are fortunate to have him servâ€¦ https://t.co/Prc8QBISKc,R,10
14479,"Young, Todd",SenToddYoung,The Chinese Communist Party is censoring media coverage of Russia's invasion of Ukraine and amplifying pro-Putin taâ€¦ https://t.co/BLCxDWLOUx,R,41
14493,"Young, Todd",SenToddYoung,The conflict in Ukraine will likely last for months and potentially longer. The U.S. must continue working with ourâ€¦ https://t.co/PZuLLaTISU,R,8
14501,"Young, Todd",SenToddYoung,I joined @WNIN Lawmakers to discuss Russiaâ€™s invasion of Ukraine and how inflation is hurting Hoosier families.\n\nhttps://t.co/B37N6BnWeR,R,1